{% extends "registration/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block page_header %}
<div class="body_1">
    {% if user.is_authenticated %}

        <h1 id="dash">Dashboard</h1>
    
    {% else %}
        
        <div class="jumbotron">
            
            <h1 class="display-3">Use your face for marking your presence.</h1>
            <p class="lead">Make attendance marking simple by using face recognition. Upload your current photo through device camera and just mark your presence.</p>
            <a class="btn btn-lg btn-primary" href="{% url 'faceapp:register' %}" role="button">Register &raquo;</a>
        </div>
    {% endif %}
{% endblock page_header %}
{% block content %}

    {% if user.is_authenticated %}
    
    <h4>What do you wish to do?</h4>

    <div class="card">
        <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Actions
            </button>
        </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body"> 

        {% if group == 'Teacher' %}

            <h5>Engage Classes</h5>
            <div class='yourClasses'>
            <form action="{% url 'faceapp:index'%}" method="POST">
                {% csrf_token %}
                {% bootstrap_form engageClassesForm layout="horizontal" %}
                <button name="submit" class='btn btn-primary'>Engage Class</button>
                <input type='hidden' name='engageClass' value="{% url 'faceapp:index' %}"/>
            </form>
            <h5>Available Classes</h5>
            <select id='room'> 
            {% if classes|length == 0 %}
            <option>No Classes.</option>
            {% else %}
            <th>Classes</th>
            {% for class in distinctClasses %}
                <option>{{class.classRoom}}</option>
            {% endfor %}
            </select>
                <div id="timeTable">
                    Class {{ distinctClasses.0.classRoom }} TimeTable
                    <table border="2">
                    <tr>
                    <th></th>
                    {% for hour in hours %}
                        <th>{{ hour }}</th>
                    {% endfor %}
                    </tr>
                    {% for day in days %}
                    <tr><th>{{ day }}</th>
                        {% for hour in hours %}
                            <td>Blank</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}    
                    </table>
                <h5>Schedule Classes</h5>
                <form id='schedule' method="POST">
                    {% csrf_token %}
                    {{ scheduleClassForm }}
                    <button class='btn btn-primary' id='scheduleClass'>Schedule</button>
                </form>
                <div id="json"></div>
                </div>
            {% endif %}
            </div>

            <h5>Add Subjects</h5>
            <div class="subjects">
            <form action="{% url 'faceapp:index'%}" method="POST">
                {% csrf_token %}
                {% render_field addSubjectsForm.name placeholder="Subject" %}
                <button name="submit" class='btn btn-primary'>Add Subject</button>
                <input type='hidden' name='addSubject' value="{% url 'faceapp:index' %}"/>
            </form>
            {% if subjects|length == 0 %}
            No Subjects.
            {% else %}
            <table>
            <th>Subjects</th>
            {% for subject in subjects %}
                <tr><td><a>{{subject}}</a></td></tr>
            {% endfor %}
            </table>
            {% endif %}
            </div>
            
            <h5>Add ClassRooms</h5>
            <div class="classRooms">
            <form action="{% url 'faceapp:index'%}" method="POST">
                {% csrf_token %}
                {% render_field addClassRoomsForm.classRoom placeholder='Class Room' %}
                <button name="submit" class='btn btn-primary'>Add ClassRoom</button>
                <input type='hidden' name='addClass' value="{% url 'faceapp:index' %}"/>
            </form>
            {% if classRooms|length == 0 %}
            No Class Rooms.
            {% else %}
            <table>
            <th>ClassRooms</th>
            {% for classRoom in classRooms %}
               <tr><td><a>{{classRoom}}</a></td></tr>
            {% endfor %}
            </table>
            {% endif %}
            </div>
        {% elif group == 'Student' %}

        {% endif %}
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Your Profile
            </button>
        </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <form method='post' action="{% url 'faceapp:index' %}">
                {% csrf_token %}
                <div class="form-group is-valid row">
                    <label class="col-md-3 col-form-label">Account Type</label>
                    <div class="col-md-9">
                        {{ group }}
                    </div>
                </div>
                {% bootstrap_form form layout='horizontal' %}
                <button name="submit" class='btn btn-primary'>Update</button>
            </form>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
        <h5 class="mb-0">
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Change Password
            </button>
        </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <form method='post' action="{% url 'faceapp:index' %}">
                {% csrf_token %}
                {% bootstrap_form passwordForm layout='horizontal' %}
                <button name="submit" class='btn btn-primary'>Change</button>
            </form>
        </div>
    </div>
    
    </div>
  </div>
    
    {% endif %}
<script>
$("#room").change(function(){
    $("#timeTable").html("Class "+$(this).val()+" TimeTable")
});

$("#scheduleClass").click(function(event){
    var formData = {
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        'day' : $('input[name=day]').val(),
        'hour' : $('input[name=hour]').val()
    };
    $.ajax({
        type : "POST",
        url : "{% url 'faceapp:scheduleClass' %}",
        data : formData,
        dataType : 'json',
        success : function(json){
            $("#json").html(json['text']);
        }
    });
    event.preventDefault();
});

</script>


{% endblock content %}
