{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
    {% if user.is_authenticated %}

        <h1>Welcome <span>{{ user.first_name }}</span><br>Dashboard</h1>
    
    {% else %}
        <div class="jumbotron">
            <h1 class="display-3">Use your face for marking your presence.</h1>
            <p class="lead">Make attendance marking simple by using face recognition. Upload your current photo through device camera and just mark your presence.</p>
            <a class="btn btn-lg btn-primary" href="{% url 'faceapp:register' %}" role="button">Register &raquo;</a>
        </div>
    {% endif %}
{% endblock page_header %}
{% block content %}

    {% if user.is_authenticated %}
    
    <h4>What do you wish to do?</h4>

    <div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Register as an Attendee
            </button>
        </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            The Attendence is taken on the basis of face data recorded by the digital camera, Please Carefully add your face data for further face detections.
            Provide the Required face data.
            Follow the given instructions for better results.
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Your Profile
            </button>
        </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <form method='post' action="{% url 'faceapp:index' %}">
                {% csrf_token %}
                <div class="form-group is-valid row">
                    <label class="col-md-3 col-form-label">Account Type</label>
                    <div class="col-md-9">
                        {{ user.groups.all.0.name }}
                    </div>
                </div>
                {% bootstrap_form form layout='horizontal' %}
                <button name="submit" class='btn btn-primary'>Update</button>
                <input type='hidden' name='next' value="{% url 'faceapp:index' %}"/>
            </form>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Change Password
            </button>
        </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            
        </div>
        </div>
    </div>
    </div>
  
    
    {% endif %}

{% endblock content %}
