{% extends "registration/base.html" %}
{% load static %}
{% block page_head %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/style_bg.css' %}">
{% endblock page_head %}

{% block content %}

<div class="container">
	<video src="{% static 'registration/video/video_001.mp4' %}" muted loop autoplay></video>
	<div class="textBox">
		SVCE <span>FaceWeb</span>
	</div>
</div>


<div class="footer">
	<div class="footer-content">
		<div class="footer-section about">
			<p>Face Recognition</p>
		</div>
		<div class="footer-section links">
			<p>Social Media</p>
		</div>
		<div class="footer-section contact-form">
			<p>Contact</p>
		</div>
		
	</div>
	<div class="footer-bottom">
		Copyrights &copy FaceWeb 2020.
		
	</div>
</div>
	
{% endblock content %}






