{% extends "registration/base.html" %}
{% block page_head %}
{% load bootstrap4 %}
<style>
    small.form-text.text-muted{
        display: none;
    }
</style>

{% endblock page_head %}
{% block page_header %}
    <h2>Register for free</h2>
{% endblock page_header %}
{% block content %}

<form method='post' action="{% url 'faceapp:register' %}">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <button name="submit" class='btn btn-primary'>Register</button>
    <input type='hidden' name='next' value="{% url 'faceapp:index' %}"/>
</form>

<script>
    var password1 = document.querySelector("#id_password1");
    var password2 = document.querySelector("#id_password2");
    password1.onfocus=function(){show(password1.id);}
    password1.onblur=function(){hide(password1.id);}
    password2.onfocus=function(){show(password2.id);}
    password2.onblur=function(){hide(password2.id);}
    function show(id){
        var smallText = document.querySelector("#"+id+" + small")
        smallText.style.display = 'block';
    }
    function hide(id){
        var smallText = document.querySelector("#"+id+" + small")
        smallText.style.display = 'none';
    }


    const inputs = document.querySelectorAll(".input");


    function addcl(){
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
    }

    function remcl(){
        let parent = this.parentNode.parentNode;
        if(this.value == ""){
            parent.classList.remove("focus");
        }
    }


    inputs.forEach(input => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
    });


</script>

{% endblock content %}  

