{% extends "registration/base.html" %}
{% load static %}
{% block page_head %}
{% load bootstrap4 %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');
    
    small.form-text.text-muted{
        display: none;
    }
    .container{
        width: 600px;
        font-family: 'Poppins', sans-serif;
        padding-top: 30px;
        
    }
    body{
        background-image: url("{% static 'registration/img/img_006.jpg' %}");
        background-size: cover;
        filter: grayscale(50px);
    }
    .btn-wid{
        width: 350px;
        color: white;
    }
    h2{
        color: #1e2a78;
        padding-left: 10px;
    }
    .img{
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>

{% endblock page_head %}
{% block page_header %}
    
    <div class="img">
        <img src="{% static 'registration/img/reg-av.svg' %}" width="100px" height="100px">
        <h2>Register for free</h2>
	</div>
{% endblock page_header %}
{% block content %}
<div class="container">
<form method='post' action="{% url 'faceapp:register' %}">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <center>
    <button name="submit" class='btn btn-warning btn-wid'>Register</button>
    </center>
    <input type='hidden' name='next' value="{% url 'faceapp:index' %}"/>
</form>
</div>
<script>
    var password1 = document.querySelector("#id_password1");
    var password2 = document.querySelector("#id_password2");
    password1.onfocus=function(){show(password1.id);}
    password1.onblur=function(){hide(password1.id);}
    password2.onfocus=function(){show(password2.id);}
    password2.onblur=function(){hide(password2.id);}
    function show(id){
        var smallText = document.querySelector("#"+id+" + small")
        smallText.style.display = 'block';
    }
    function hide(id){
        var smallText = document.querySelector("#"+id+" + small")
        smallText.style.display = 'none';
    }


</script>

{% endblock content %}  

